.text {
  display: flex;
  justify-content: space-between;
}

.koi {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  gap: 10px;
}

.ad {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
 border-radius: 10px;
}

